In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('monthly-milk-production.csv')
df.head()

                 Month  Milk Production
0  1962-01-01 01:00:00            589.0
1  1962-02-01 01:00:00            561.0
2  1962-03-01 01:00:00            640.0
3  1962-04-01 01:00:00            656.0
4  1962-05-01 01:00:00            727.0